# Ignore everything
*
# except for plugin
!plugin/
!plugin/**
!src/
!src/*+
!lang/
!lang/**
# and also: 
!manifest.json
!styles.css
!LICENSE*
!README.md 
!README_de.md 
!RELEASE_NOTES.md
!CHANGELOG.md

# and I guess we need these for workflows
!.github/
!.github/**
!package.json
!yarn.lock
!esbuild.config.mjs
!tsconfig.json

# but especially ignore node_modules! 
node_modules/