# Ignore everything
*
# except for plugin
!plugin/
!plugin/**
!src/
!src/*+
!lang/
!lang/**
# and also: 
!manifest.json
!styles.css
!main.js
!README.md 
!README_de.md 

# but especially ignore node_modules! 
node_modules/