.textflow-switcher-option.flow-status-on {
  color: var(--text-accent);
}

.textflow-switcher-option.flow-status-incompatible {
  color: var(--text-muted);
  cursor: not-allowed;
  opacity: 0.5;
}

.textflow-switcher-option.flow-status-off {
  color: var(--text-normal);
}

.textflow-switcher {
  max-width: 300px;
}

.textflow-switcher-container {
  padding: 6px;
}

.textflow-switcher-option {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 6px;
  cursor: pointer;
  border-radius: 4px;
}

.textflow-switcher-option:hover {
  background-color: var(--background-modifier-hover);
}

.textflow-switcher-option.is-active {
  color: var(--text-accent);
}
